:root {
  --white: #fff;
  --black: #0f0f0f;
  --blackTransparent: rgba(0, 0, 0, 0.300);
  --lightBlack: rgb(38 38 38);
  --gray: rgb(112, 112, 112);
  --lightGray: rgb(240 240 240);
  --red: rgb(245 65 66);
  --redTransparent: rgba(245, 65, 66, 0.200);
  --purple: rgb(145, 107, 227);
  --purpleTransparent: rgba(145, 107, 227, 0.250);
  --green: rgb(119 197 153);
  --blue: rgb(95 200 248);
  --full-hd-width-screen: 1920px;
}